In [1]:
import numpy as np
import pandas as pd

In [2]:
det = np.array([1,2,3,4,5,6,7,18,19,20,25,26,27,28])

ph_511  = np.array([482,152,151,479,499,514,503,497,518,498,482,552,505,503])
ph_1779 = np.array([1682,531,526,1670,1739,1791,1753,1744,1806,1738,1693,1927,1763,1759])
ph_7724 = np.array([7302,2307,2287,7251,7552,7780,7619,7578,7845,7553,7358,8372,7641,7630])


# df = pd.DataFrame({"det":det,"ph_511":ph_511,"ph_1368":ph_1368,"ph_2754":ph_2754})
# df

slope = []
offset=[]
for i in range(len(det)):
    poly = np.polynomial.Polynomial.fit([ph_511[i],ph_1779[i],ph_7724[i]],[511,1779,7724],deg = 1)
    # poly = np.polynomial.Polynomial.fit([ph_511[i],ph_9034[i]],[511,9034],deg = 1)
    # res = np.polynomial.Polynomial.fit(np.array([0,1]),np.array([0,1]),deg = 1)
    slope.append(poly.convert().coef[1])
    offset.append(poly.convert().coef[0])
    

df_results = pd.DataFrame({"det":det,"slope":slope,"offset":offset})
df_results

    det     slope    offset
0     1  1.057689  0.640168
1     2  3.347197  1.960664
2     3  3.376576  1.943322
3     4  1.065152  0.522513
4     5  1.022692  0.613921
5     6  0.992689  0.909378
6     7  1.013580  1.632371
7    18  1.018762  3.593287
8    19  0.984439  1.079780
9    20  1.022383  1.963869
10   25  1.049141  4.180683
11   26  0.922392  1.709480
12   27  1.010980 -1.267082
13   28  1.012235  0.325432

In [3]:
df_results.to_csv("../calib/calib_2024may_Cd.csv",index=False)